<div style="width: 100%; height: 100%; background-color: hotpink">
  <h1 style="font-size:70px; text-align: center">Carolanza</h1>
</div>
<div class="container-fluid">
  <div >
    <%= link_to '| Im a normal user |', users_path %>
    <%= link_to 'Im and admin |', admin_home_path %>
  </div>
</div>